// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #0000000f;
$color-green: #7ecb20;

// Colors-dropdown menu
// $color-dropdown-divider: #707070;
$color-dropdown-border: #4b494926;

// Font Family
$font-openSans: "Open Sans", sans-serif;
